
.nav_menu {
    list-style-type: none;
    text-align: right;
}

.nav_item a {
    float: left;
    padding: 5px;
    margin: 5px;
    color: white;
    text-decoration: none;
}

.nav_item a:hover {
    color: red;
}