
.message-box{
    border: 1px solid gray;
    height: 400px;
    overflow-y: auto;


}
.users-list{
    border: 1px solid gray;
    height: 400px;
}
.sender{
  border-radius: 20px;
  background-color: rgb(108, 179, 108);
  display: inline-block;
}
